ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
}

li {
    border: 3px solid blue;
    flex-basis: 10%;
}